.box-layout{
    background: url('/images/bg.jpg');
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 99vw;
}

.box-layout__box{
    background: fade-out($color: white, $amount: 0.25);
    border-radius:3px;
    text-align: center;
    width: 25rem;
    padding: $large-size $medium-size;
}

.box-layout__title{
    margin: 00 $medium-size 0;
    line-height: 1;
    
}